{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:prettier/recommended"
  ],
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true,
    "browser": true,
    "jest": true
  },
  "plugins": ["react", "import"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "requireConfigFile": false,
    "babelOptions": {
      "presets": [
        "@babel/preset-react"
      ]
    }
  },
  "rules": {
    "no-console": ["error", { "allow": ["warn", "error", "info"] }],
    "no-eval": "error",
    "import/first": "error",
    "react/jsx-no-bind": "off",
    "react/no-deprecated": "error",
    "react/prop-types": 0,
    "react/state-in-constructor": "off",
    "react/destructuring-assignment": "off",
    "react/no-access-state-in-setstate": "off",
    "camelcase": "off",
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/function-component-definition": "off",
    "react/jsx-props-no-spreading": "off",
    "func-names":"off",
    "no-else-return":"off",
    "dot-notation":"off"
  },
  
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"],
        "moduleDirectory": [
          "node_modules",
          "src/"
        ]
      }
    }
  }
  
}
